.container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-self: center;
    border: 1px solid #000;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    background-color: #CDC;
}